<div id="loginComponent">
    <img id ="logo" class="ui centered image" src="assets/images/cds.png">
    <div class="ui two column centered grid">
        <div class="column">
            <h3 class="ui top centered block attached header">
                {{ 'account_login_title' | translate }}
            </h3>
            <div class="ui bottom attached segment">
                <form class="ui form" (ngSubmit)="login()" #loginForm="ngForm">
                    <div class="field">
                        <label>{{ 'user_label_username' | translate }}</label>
                        <input type="text" [(ngModel)]="user.username" name="username">
                    </div>
                    <div class="field">
                        <label>{{ 'user_label_password' | translate }}</label>
                        <input type="password" [(ngModel)]="user.password" name="password">
                    </div>
                    <div class="ui right aligned container">
                        <button id="loginButton" class="ui orange button" type="submit">{{ 'account_login_btn_connect' | translate }}</button>
                    </div>
<!-- 
                        <a class="left floated pointing" id="signupLink" (click)="navigateToSignUp()">{{ 'account_btn_signup' | translate}}</a>
                        <a class="left floated pointing" id="passwordLink" (click)="navigateToPassword()">{{ 'account_btn_password' | translate }}</a>
 -->
                </form>
            </div>
        </div>
    </div>
</div>
